#preloader span {
    margin-left: 0;
    margin-top: 0;
    transform: translate(-50%,-50%);
}
.main-top-header .top-bar-link a {
    color: #fff;
}
.header-top .header-icon-box .icon-container {
    color: #ca3023;
}
.navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
}
.navbar-default .navbar-nav > li > a.link-active {
    background: #ca3023;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #ca3023;
}
.navbar-default .navbar-nav > li > a:focus {
    background: #ca3023;
}
.btn-theme {
    background-color: #ca3023;
}
.btn-theme:hover {
    background-color: #f39612;
}
.btn-theme:focus {
    color: #ffffff;
}
.banner-content a.btn-slider {
    background: #ca3023;
    border: 0px solid #ca3023;
}
.banner-content a.btn-slider:hover {
    background: #f39612;
    border: 0px solid #f39612;
}
.section-content-block {
    padding: 70px 0;
    background: transparent;
}
.section-heading-wrapper {
    margin-bottom: 30px;
}
.section-heading-wrapper h3 {
    color: #ca3023;
}
.section-heading-wrapper h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 0;
}
.section-heading-wrapper-alt h3 {
    color: #ca3023;
}
.section-heading-wrapper-alt h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 0;
}
.section-black-bg-overlay {
    overflow: hidden;
}
.about-area .about-details p {
    text-align: justify;
}
.about-area .about-img img {
    display: block;
    width: 100%;
}
.service-area {
    background-image: url(../images/moving.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.service-area .service-block-1 .service-readmore {
    color: #ca3023;
}
.service-area .service-block-1 .service-readmore:hover {
    color: #f39612;
}
.moving-area {
    background-image: url(../images/moving.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.moving-area .appoinment-person {
    top: 0;
}
.moving-area .appointment-form-wrapper .appointment-form-heading {
    background: #ca3023;
    padding: 15px 0;
    margin: -1px -1px 36px -1px;
}
.moving-area .appointment-form-wrapper {
    margin: 0;
}
footer {
    background-image: none;
}
footer:before {
    display: none;
}
footer a:hover {
    color: #ca3023;
}
.footer-widget-area .fa-footer {
    color: #ca3023;
}
.footer-widget-area .fa-footer:hover {
    color: #f39612;
}
.footer-widget-area {
    padding: 60px 0px;
    background-color: #000000;
}
.footer-info p {
    display: flex;
    align-items: flex-start;
}
.footer-info p span:first-child {
    margin-right: 5px;
}
.footer-icon li {
    display: inline-block;
    margin-right: 15px;
}
.footer-icon li:last-child {
    margin-right: unset;
}
.footer-icon li a {
    background-color: #fff;
    color: #ca3023;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.footer-icon li a:hover {
    background-color: #f39612;
    color: #fff;
}
.footer-contents {
    background: #000;
    border-top: 1px solid #333;
    padding: 10px 0;
}
.footer-contents .copyright-text {
    line-height: unset;
    margin-bottom: 0;
}
.footer-contents .copyright-text a {
    color: #ca3023;
}
.footer-contents .copyright-text a:hover {
    color: #f39612;
}
#backTop.custom {
    background-color: #ca3023;
    border: 0px solid #ca3023;
}
#backTop.custom:hover {
    background-color: #f39612;
    border: 0px solid #f39612;
}
.page-header {
    background-image: url(../images/breadcrumb.jpg);
}
.page-header:before {
    background: rgb(0 0 0 / 30%);
}
.page-header .page-breadcrumb a:hover {
    color: #ca3023;
}
.relocation-area .service-block-1:hover img {
    transform: none;
    box-shadow: none;
}
.relocation-area .service-block-1 {
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%);
}
.relocation-area .service-block-1 img {
    width: 60px;
    box-shadow: none;
}
.relocation-area .service-block-1:hover img {
    transform: none;
    box-shadow: none;
}
.relocation-area .service-block-1 p {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.relocation-area .service-block-1 .service-readmore {
    color: #ca3023;
}
.relocation-area .service-block-1 .service-readmore:hover {
    color: #f39612;
}
.contact-area .contact-title:after {
    background: #ca3124;
}
.contact-area .contact-form input, .contact-area .contact-form select {
    border: 0px;
    border-bottom: 1px solid #eee;
    line-height: 42px;
    height: 42px;
    margin-bottom: 24px;
    padding-left: 2px;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 16%) !important;
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 20%) !important;
    transition: 0.3s 0.2s ease-out;
}
.contact-area .contact-form textarea {
    border: 0px;
    border-bottom: 1px solid #eee;
    margin-bottom: 24px;
    padding-left: 2px;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 16%) !important;
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 20%) !important;
    transition: 0.3s 0.2s ease-out;
}
#map_block {
    position: relative;
    overflow: hidden;
}
button {
    outline: unset !important;
}
.about-area .box-block .about-us-highlight-block {
    overflow: hidden;
    background: #FFFFFF;
    position: relative;
    padding: 30px;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 20%);
    height: 560px;
    max-height: 560px;
}
.about-area .box-block .about-us-highlight-block p {
    text-align: justify;
}
.about-area .box-block .about-us-highlight-block h4 {
    margin-top: 0;
    color: #ca3023;
    margin-bottom: 15px;
}
.get-quote-area .contact-title:after {
    background: #ca3124;
}
.get-quote-area .get-form input, .get-quote-area .get-form select {
    border: 0px;
    border-bottom: 1px solid #eee;
    line-height: 42px;
    height: 42px;
    margin-bottom: 24px;
    padding-left: 2px;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 16%) !important;
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 20%) !important;
    transition: 0.3s 0.2s ease-out;
}

.track-area .contact-title:after {
    background: #ca3124;
}
.track-area .track-form input {
    border: 1px solid #ebebeb;
    padding: 12px 10px !important;
    line-height: 42px;
    height: 42px;
    margin-bottom: 24px;
    padding-left: 2px;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 0 rgb(0 0 0 / 20%) !important;
    transition: 0.3s 0.2s ease-out;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .navbar-default .navbar-header {
        width: auto;
        margin-left: auto;
    }
    .navbar-contact ul li a {
        font-size: 14px;
        line-height: 20px;
        padding: 15px 12px;
    }
    .section-content-block {
        padding: 50px 0;
    }
    .container {
        width: 100%;
        padding: 0 50px;
    }
    .section-banner {
        padding: 100px 0px 100px;
    }
    .banner-content h2 {
        font-size: 60px;
        line-height: 80px;
    }
    .footer-widget-area {
        padding: 50px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .container {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px 12px;
    }
    .navbar-default .navbar-header {
        width: auto;
        margin-left: auto;
    }
    .navbar-contact {
        display: block !important;
    }
    .navbar-contact ul li a {
        font-size: 14px;
        line-height: 20px;
        padding: 15px 12px;
    }
    .section-content-block {
        padding: 30px 0;
    }
    .container {
        width: 100%;
        padding: 0 30px;
    }
    .section-banner {
        padding: 150px 0px 150px;
    }
    .banner-content h2 {
        font-size: 50px;
    }
    .footer-widget-area {
        padding: 30px 0px;
    }
    .footer-widget-area .footer-widget-header h3 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header-top {
        padding-bottom: unset;
    }
    .header-top .header-col-logo .header-logo a {
        top: 0;
    }
    .header-top .header-col-logo .header-logo img {
        width: 200px;
    }
    .navbar-default {
        background: #ca3023;
    }
    .navbar-default .navbar-toggle {
        background-color: #fff;
        border-color: #f39612;
        margin-right: auto;
        margin-left: auto;
        float: right;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #f39612;
    }
    .navbar-default .navbar-nav li a {
        color: #ffffff;
    }
    .section-content-block {
        padding: 30px 0;
    }
    .container {
        width: 100%;
        padding: 0 30px;
    }
    .section-heading-wrapper h3 {
        margin-top: 0;
    }
    .about-area .box-block .about-us-highlight-block {
        height: auto;
    }
    .footer-widget-area {
        padding: 30px 0px;
    }
}